p{
    font-weight: bold;
    font-size: 20px;
}

#top{
    text-decoration: underline;
}

.emphasizedText{
    font-style: italic;
    color:rgb(151, 59, 238)
}

a{
    color:rgb(55, 112, 210)
}

body{
    background-color: rgb(201, 201, 242);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 5px solid black;
    margin: 50px;
    padding: 10px;
}

ul{
    list-style-position: inside;
}

ol{
    list-style-position: inside;
}